*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#ok, #error {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: #181818;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

.form-general {
    margin: 15px;
    box-shadow: 0 0 10px 0 rgba(241, 236, 236, 0.836);
}

.main , .form-general .form, .main h2 p, .main h2 {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    color: cornflowerblue;
}

h1 {
    text-align: left;
}

h1, h2, .saludo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(111, 85, 226);
}

.saludo {
    margin: 10px;
    padding: 8px;
}

p, label {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-general {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    background-color: rgba(244, 244, 248, 0.123);
    
}

.form-general .form input, .choise, button {
    margin: 15px;
    padding: 8px;
    box-shadow: 0 1px 0 1px rgba(248, 245, 245, 0.267);
    border-radius: 5px;
    text-align: center;
    background-color: rgba(221, 208, 208, 0.164);
    color: white;
}

.block {
    display: block;
}

button {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

::-webkit-input-placeholder {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.sexo, .btn, .select {
    display: inline-block;
}
